.root {
  width: 100%;
  border-radius: 38px;
  background: linear-gradient(359deg, rgba(21,25,62, 0.45) 0%, rgba(56,66,164, 0.45) 100%);
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.char {
  width: 112px;
  height: 257px;
}

@media (max-width: 360px) or (max-height: 600px){
  .root {
    width: 140px;
    height: 200px;
    font-size: 28px;
  }
  .char {
    width: 92px;
    height: 197px;
  }
}

@media (min-width: 361px) and (max-width: 400px) {
  .root {
    width: 159px;
    height: 212px;
    font-size: 30px;
  }
  .char {
    width: 92px;
    height: 197px;
  }
}

@media (min-width: 401px) {
  .root {
    width: 195px;
    height: 297px;
    font-size: 32px;
  }
  .char {
    width: 112px;
    height: 257px;
  }
}
