.root {
  max-width: 61px;
  max-height: 61px;
  width: 100%;
  height: 100%;
  border-radius: 11px;
  background:
          linear-gradient(359.95deg, rgba(29, 0, 47, 0.8) 0.34%, rgba(79, 94, 133, 0.8) 50.67%, rgba(255, 200, 198, 0.656) 100%),
          rgba(104, 110, 166, 0.6);
  background-blend-mode: overlay;
  padding: 1px 4px 3px 4px;
  cursor: pointer;
}

.image {
  max-width: 51px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  object-fit: contain;
}

.title {
  color: #FFFFFF;
  font-size: 12px;
  text-align: center;
  background: rgba(104, 110, 166, 0.6);
  border-radius: 5px;
  height: 16px;
  width: 51px;
}