.root {
  background-image: url("/backgrounds/nightcity.png");
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 319px;
  max-width: 450px;
  min-height: 550px;
  width: 100%;
  background-size: cover;
  background-position: 50% 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 360px) {
  .root {
    padding: 0 10px;
  }
}

@media (min-width: 361px) and (max-width: 400px) {
  .root {
    padding: 0 10px;
  }
}

@media (min-width: 401px) {
  .root {
    padding: 0 10px;
  }
}

