.root {
  background-image: url("/claimBTN.png");
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 900;
  width: 177px;
  height: 69px;
  background-size: cover;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
}