.root {
  background-image: url("/claimBTN.png");
  color: #FFFFFF;
  font-weight: 900;
  background-size: cover;
  text-align: center;
  padding-top: 6px;
  cursor: pointer;
}

@media (max-width: 360px) {
  .root {
    width: 163px;
    height: 63px;
    font-size: 26px;
  }
}

@media (min-width: 361px) and (max-width: 400px) {
  .root {
    width: 170px;
    height: 66px;
    font-size: 29px;
  }
}

@media (min-width: 401px) {
  .root {
    width: 177px;
    height: 69px;
    font-size: 32px;
  }
}