@font-face {
    font-family: 'Pricedown';
    src: url("/fonts/pricedown bl.ttf");
}

html, body {
    margin: 0 auto;
    padding: 0;
    min-width: 319px;
    max-width: 450px;
    width: 100%;
    height: calc(var(--available-height) * 1px);
}

* {
    box-sizing: border-box;
    font-family: 'Pricedown', serif
}

